body {
  color: #ffffff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #000000;
  background: url("https://www.spacex.com/static/images/backgrounds/home_feature.webp") no-repeat center top fixed;
  background-size: cover;
  /* max-width: 1400px; */
}

header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding-left: 50px;
  padding-right: 50px;
}

nav {
  /* margin-top: 3px; */
  margin-left: 30px;
  width: 600px;
  display: flex;
  justify-content: space-between;
}

.header-inner {
  display: flex;
  flex: auto;
  align-items: center;
  font-size: small;
  font-weight: 600;
  max-width: 1400px;
  /* margin-left: 50px; */
}

#title {
  font-weight: 800;
  font-size: large;
}

#hamburger {
  background-image: url("hamburger.png");
  width: 16px;
  height: 10px;
  /* width: 25px;
  height: 25px;
  background-color: gray; */
  position: absolute;
  right: 50px;
}

.main-content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  box-sizing: border-box;
  /* padding-left: 50px;
  padding-bottom: 50px; */
}

.content-container {
  display: flex;
  flex: auto;
  max-width: 1400px;
  height: 80vh;
  position: relative;
}

#description-parent-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: absolute;
  bottom: 75px;
  left: 0px;
}

#description-type {
  font-size: larger;
  font-weight: 600;
  margin-bottom: 20px;
}

#description-name {
  font-size: 3em;
  font-weight: 700;
}

#description-action {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 164px;
  height: 54px;
  margin-top: 50px;
  border-color: #333333;
  border-width: 2px;
  border-style: solid;
}

#description-action-label {
  font-weight: 700;
}
